<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS読み込み -->
    <link rel="stylesheet" href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="@{/css/user/user.css}">
    <!-- /CSS読み込み -->
    <!-- JS読み込み -->
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <!-- /JS読み込み -->
    <title>Signup</title>
</head>
<body class="bg-light">
    <form action="/user/signup" method="post" id="signup-form" class="form-singup">
        <h1>ユーザー登録</h1>
        
        <!-- ユーザーID -->
        <div class="form-group">
            <label for="userId">
                ユーザーID
            </label>
            <input type="text" class="form-control">
        </div>
        <!-- パスワード -->
        <div class="form-group">
            <label for="password">
                パスワード
            </label>
            <input type="text" class="form-control">
        </div>
        <!-- ユーザー名 -->
        <div class="form-group">
            <label for="userName">
                ユーザー名
            </label>
            <input type="text" class="form-control">
        </div>
        <!-- 誕生日 -->
        <div class="form-group">
            <label for="birthday">
                誕生日
            </label>
            <input type="text" class="form-control">
        </div>
        <!-- 年齢 -->
        <div class="form-group">
            <label for="age">
                年齢
            </label>
            <input type="text" class="form-control">
        </div>
        <!-- 性別 -->
        <div class="form-group">
            <div th:each="item:${genderMap}" class="form-check-inline">
                <input type="radio" class="form-check-input" th:value="${item.value}">
                <label class="form-check-label" th:text="${item.key}"></label>
            </div>
        </div>
        <!-- 登録ボタン -->
        <input type="submit" value="ユーザー登録" class="btn btn-primary w-100 mt-3">

    </form>
</body>
</html>