<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS読み込み -->
    <link rel="stylesheet" href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="@{/css/login/login.css}">
    <!-- /CSS読み込み -->
    <!-- JS読み込み -->
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <!-- /JS読み込み -->
    <title>UserLogin</title>
</head>
<body class="bg-light">
    <div class="text-center">
        <form action="post" th:action="@{/login}" class="form-login">
            <h2>ログイン</h2>
            
            <!-- ユーザーID -->
            <div class="form-group">
                <label for="userId" class="sr-only">
                    userId
                </label>
                <input type="text" class="form-control" placeholder="ユーザーID" name="userId"/>
            </div>
            <!-- パスワード -->
            <div class="form-group">
                <label for="password" class="sr-only">
                    password
                </label>
                <input type="text" class="form-control" placeholder="パスワード" name="password"/>
            </div>
            <input type="submit" value="ログイン" class="btn-btn-primary">
            <a th:href="@{/user/signup}">新規登録はこちら</a>
        </form>
    </div>
</body>
</html>